body {
    font-family: sans-serif;
    background-color: rgb(181, 230, 214);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table, .configurador, #tempo {
    width: 500px;
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}
table td {
    border: 3px solid black;
    background-color: aliceblue;
    height: 166px;
    width: 166px;
    text-align: center;
    font-size: 96px;
}
.configurador, #tempo {
    text-align: center;
    border: none;
    margin-bottom: 10px;
}
.configurador input {
    padding: 10px;
    border-radius: 5px ;
}
.configurador span {
    background-color: rgb(222, 223, 139);
    padding: 9px 15px 11.5px 15px;
    vertical-align: baseline;
    border: 1px solid gray;
    border-radius: 5px ;
    font-weight: 300;
}
.configurador button {
    padding: 7px 15px;
    background-color: rgb(83, 170, 68);
    border: 1px solid gray;
    border-radius: 5px;
    color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;

    
}
.msg {
    width: 480px;
    padding: 10px;
    background-color: #FAFAFA;
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid lightgray;
    color: gray;
    
}